<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Thomas Loiret">
  <meta name="description" content="How to have a CSRF token in your function view's template ?">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@b0uh" />
    <meta name="twitter:title" content="Django 1.11, CSRF token, template & function view - Thomas Loiret - Random thoughts" />
    <meta name="twitter:description" content="How to have a CSRF token in your function view's template ?" />

  <meta name="google-site-verification" content="jZBc2U9MHiBnSlgpoFEed-V3PZ16pMNv0GSX4hOh4mg" />

  <title>Django 1.11, CSRF token, template & function view - Thomas Loiret - Random thoughts</title>

  <!-- Custom styles for this template -->
  <!-- build:css stylesheets/main.css -->
  <link rel="stylesheet" href="https://b0uh.github.io/theme/css/main.css">
  <link rel="stylesheet" href="https://b0uh.github.io/theme/css/custom.css">
  <link rel="stylesheet" href="https://b0uh.github.io/theme/css/pygments/autumn.css">
  <!-- endbuild -->

  <link href="https://b0uh.github.io/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Thomas Loiret - Random thoughts Atom Feed" />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

  <!-- Google Fonts -->
  <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Open+Sans:300,400,700:latin', 'Lato:700,900:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
  </script>
</head>

<body>
<!-- header -->
<header class="header  push-down-45">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#readable-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <nav class="navbar  navbar-default" role="navigation">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse  navbar-collapse" id="readable-navbar-collapse">
        <ul class="navigation">

          <li>
            <a href="https://b0uh.github.io">Home</a>
          </li>

            <li>
              <a href="https://b0uh.github.io/pages/about.html">About</a>
            </li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div class="hidden-xs  hidden-sm">
      <div class="social">
        <a href="#" class="search__container">
          <span class="glyphicon  glyphicon-flash"></span>
        </a>
        <ul class="social__dropdown">
            <li>
              <a href="https://b0uh.github.io/feeds/all.atom.xml" target="_blank" class="social__container">
                <span class="zocial-rss"></span>
              </a>
            </li>
          <li>
            <a href="https://twitter.com/b0uh" target="_blank" class="social__container">
              <span class="zocial-twitter"></span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/thomasloiret/" target="_blank" class="social__container">
              <span class="zocial-linkedin"></span>
            </a>
          </li>
          <!-- <li>
            <a href="https://www.malt.fr/profile/thomasloiret" target="_blank" class="social__container">
              <img src="https://b0uh.github.io/theme/images/icons/malt-25px.png" />
            </a>
          </li> -->
          <li>
            <a href="https://www.last.fm/user/b0uh" target="_blank" class="social__container">
              <span class="zocial-lastfm"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="container">

      <div itemscope itemtype="http://schema.org/Article" class="boxed push-down-60">


        <!-- Start of the blogpost -->
        <div class="row">
          <div class="col-xs-10  col-xs-offset-1  col-md-8  col-md-offset-2  push-down-60">

            <!-- Start of the content -->
            <div class="post-content">

              <h1 itemprop="name">Django 1.11, CSRF token, template & function view</h1>

              <div class="meta__container--without-image">
                <div class="row">
                  <div class="col-xs-12  col-sm-8">
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                      <div class="meta__info" itemprop="name">
                        Thomas Loiret
                      </div>
                    </span>
                  </div>
                  <div class="col-xs-12  col-sm-4">
                    <div class="meta__comments">
                      <span class="meta__date" itemprop="datePublished" content="2017-06-09">
                        <span class="glyphicon glyphicon-calendar"></span>  &nbsp; Fri 09 June 2017
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <span itemprop="articleBody">
                <h2>The goal</h2>
<p>In one of my project I wanted to handle a view with a function, and this view had to handle a form and render HTML through a template. Pretty classic... but I had trouble to add the CSRF token!</p>
<h2>Try number 1: @csrf_protect decorator</h2>
<p>I first thought I had to add the famous decorator like this :</p>
<div class="highlight"><pre><span></span><code><span class="kn">from</span> <span class="nn">django.http</span> <span class="kn">import</span> <span class="n">HttpResponse</span>
<span class="kn">from</span> <span class="nn">django.template</span> <span class="kn">import</span> <span class="n">loader</span>
<span class="kn">from</span> <span class="nn">django.views.decorators.csrf</span> <span class="kn">import</span> <span class="n">csrf_protect</span>

<span class="nd">@csrf_protect</span>
<span class="k">def</span> <span class="nf">home</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
    <span class="n">t</span> <span class="o">=</span> <span class="n">loader</span><span class="o">.</span><span class="n">get_template</span><span class="p">(</span><span class="s1">&#39;my_page.html&#39;</span><span class="p">)</span>
    <span class="n">context</span> <span class="o">=</span> <span class="p">{}</span>
    <span class="k">return</span> <span class="n">HttpResponse</span><span class="p">(</span><span class="n">t</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">context</span><span class="p">))</span>
</code></pre></div>


<p>The <code>{%csrf_token %}</code> in my template didn't render anything, ok, that's a fail.</p>
<h2>Try number 2: RequestContext to the rescue</h2>
<p>I started looking at the documentation and I found this: <a href="https://docs.djangoproject.com/en/1.11/ref/csrf/#how-to-use-it">https://docs.djangoproject.com/en/1.11/ref/csrf/#how-to-use-it</a></p>
<p>It said:</p>
<blockquote>
<p>In the corresponding view functions, ensure that RequestContext is used to render the response so that <code>{% csrf_token %}</code> will work properly. If you're using the <code>render()</code> function, generic views, or contrib apps, you are covered already since these all use <code>RequestContext</code>.</p>
</blockquote>
<p>Ok, so let's try with a RequestContext:</p>
<div class="highlight"><pre><span></span><code><span class="kn">from</span> <span class="nn">django.http</span> <span class="kn">import</span> <span class="n">HttpResponse</span>
<span class="kn">from</span> <span class="nn">django.template</span> <span class="kn">import</span> <span class="n">RequestContext</span><span class="p">,</span> <span class="n">loader</span>
<span class="kn">from</span> <span class="nn">django.views.decorators.csrf</span> <span class="kn">import</span> <span class="n">csrf_protect</span>

<span class="nd">@csrf_protect</span>
<span class="k">def</span> <span class="nf">home</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
    <span class="n">t</span> <span class="o">=</span> <span class="n">loader</span><span class="o">.</span><span class="n">get_template</span><span class="p">(</span><span class="s1">&#39;my_page.html&#39;</span><span class="p">)</span>
    <span class="n">context</span> <span class="o">=</span> <span class="p">{}</span>
    <span class="n">request_context</span> <span class="o">=</span> <span class="n">RequestContext</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="n">context</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">HttpResponse</span><span class="p">(</span><span class="n">t</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">request_context</span><span class="p">))</span>
</code></pre></div>


<p>This time a got a error 500, damned... The error says:  "context must be a dict rather than RequestContext." Ok, you want a dict but the documentation said I need to have a RequestContext, dafuq ?</p>
<h2>Try number 3: Template and Template, the subtile difference</h2>
<p>After looking to a lot of documentation, stackoverflow questions and Django's code itself. I found a solution, I don't know if it is the better, but it works:</p>
<div class="highlight"><pre><span></span><code><span class="kn">from</span> <span class="nn">django.http</span> <span class="kn">import</span> <span class="n">HttpResponse</span>
<span class="kn">from</span> <span class="nn">django.template</span> <span class="kn">import</span> <span class="n">RequestContext</span><span class="p">,</span> <span class="n">loader</span>
<span class="kn">from</span> <span class="nn">django.views.decorators.csrf</span> <span class="kn">import</span> <span class="n">csrf_protect</span>

<span class="nd">@csrf_protect</span>
<span class="k">def</span> <span class="nf">home</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
    <span class="n">t</span> <span class="o">=</span> <span class="n">loader</span><span class="o">.</span><span class="n">get_template</span><span class="p">(</span><span class="s1">&#39;my_page.html&#39;</span><span class="p">)</span>
    <span class="n">context</span> <span class="o">=</span> <span class="p">{}</span>
    <span class="n">request_context</span> <span class="o">=</span> <span class="n">RequestContext</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="n">context</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">HttpResponse</span><span class="p">(</span><span class="n">t</span><span class="o">.</span><span class="n">template</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">request_context</span><span class="p">))</span>
</code></pre></div>


<p>The important thing here is <code>t.template</code>! The object <code>t</code> is an instance of <code>django.template.backends.django.Template</code> and the object <code>t.template</code> is an instance of <code>django.template.base.Template</code> which accepts <code>RequestContext</code>!</p>
<p>I hope this will help you save some time!</p>
              </span>

              <div class="meta__container--without-image">
                <div class="row">
                </div>
              </div>

              <br>

              <p>
                <!-- AddToAny BEGIN -->
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                <a class="a2a_button_twitter"></a>
                <a class="a2a_button_linkedin"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_reddit"></a>
                </div>
                <script async src="https://static.addtoany.com/menu/page.js"></script>
                <!-- AddToAny END -->
              </p>

            </div>
          </div>
        </div>
      </div>

</div>

<footer class="copyrights">
  <div class="container">
    <div class="row">
      <div class="col-xs-12  col-sm-6">
        Powered by <a href="https://github.com/getpelican/pelican">Pelican</a>.
      </div>
      <div class="col-xs-12  col-sm-6">
        <div class="copyrights--right">
          Made with <span class="glyphicon  glyphicon-heart"></span> in Nantes.
        </div>
      </div>
    </div>
  </div>
</footer>

  <script src="https://b0uh.github.io/theme/scripts/jquery.min.js"></script>
  <script src="https://b0uh.github.io/theme/scripts/underscore.js"></script>
  <script src="https://b0uh.github.io/theme/scripts/bootstrap.min.js"></script>
  <script src="https://b0uh.github.io/theme/scripts/main.js"></script>


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-98369697-1', 'auto');
    ga('send', 'pageview');

  </script>

</body>
</html>